* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
}


body {
    padding: 1.75rem 1rem;
    background-color: var(--almost-white);
} 

body.escurecer::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 26, 0.5);
    top: 0;
    left: 0;
}


:root {
    --almost-white: #fffdfa;
    --dark-blue: #00001a;
    --gunmetal: #5e607a;
    --vermilion: #f15d51;
    --yellow: #e9aa52;
    --silver: #c5c6ce;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    max-width: 1110px;
    margin-inline: auto;
}

header button {
    border: none;
    background-color: var(--almost-white);
    width: fit-content;
}

header nav.mobile {
    position: fixed;
    background-color: var(--almost-white);
    right: -16rem; 
    top: 0;
    height: 100vh;
    width: 16rem;
    z-index: 999;

    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;

    transition: .7s;
    
}

header nav.mobile.abrir {
    right: 0;
}

header nav button {
    align-self: flex-end;
    margin-bottom: 4rem;
    
}

header .mobile a {
    text-decoration: none;
    color: var(--dark-blue);
    font-size: 1.125rem;
    line-height: 1.5rem;
}

main {
    max-width: 1110px;
    margin-inline: auto;
}


.primeira-sessao {
    margin-bottom: 4rem;
}

.primeira-sessao img {
    width: 100%;
    margin-bottom: 1.5rem;
}

.primeira-sessao h1 {
    font-size: 2.5rem;
    line-height: 100%;
    color: var(--dark-blue);
    margin-bottom: 1rem;

}

.primeira-sessao p {
    font-size: .9375rem;
   line-height: 1.625rem;
   color: var(--gunmetal); 
   margin-bottom: 1.5rem;
}

.primeira-sessao button {
    padding: .75rem 2rem;
    background-color: var(--vermilion);
    border: none;
    text-transform: uppercase;
    color: var(--almost-white);
    font-weight: 700;
    font-size: .875rem;
    letter-spacing: .275rem;
    line-height: 1.5rem;
}

.segunda-sessao {
    background-color: var(--dark-blue);
    margin-bottom: 4rem;
    padding: 1.5rem 1.1rem;
}

.margin-border-padding {
    border-bottom: 1px solid var(--gunmetal);
    margin-bottom: 1.75rem;
    padding-bottom: 1.75rem;
}



.segunda-sessao h2 {
    font-size: 2rem;
    line-height: 100%;
    color: var(--yellow);
    margin-bottom: 2.2rem;
    
}

.segunda-sessao h3 {
    color: var(--almost-white);
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 800;
    margin-bottom: .5rem;
}


.segunda-sessao p {
    color: var(--silver);
    font-size: .9375rem;
    line-height: 1.625rem;
}


.terceira-sessao > div{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.terceira-sessao img {
    max-width: 6.25rem;

}

.terceira-sessao strong {
    color: var(--silver);
    font-size: 2rem;
    line-height: 100%;
}

.terceira-sessao h2 {
    font-size: 1.125rem;
    font-weight: 800;
    color: var(--dark-blue);
    line-height: 1.5rem;
    margin-block: .6rem;
}

.terceira-sessao p {
    font-size: .9375rem;
    line-height: 1.625rem;
    color: var(--gunmetal);

}


@media(min-width: 1110px){
    main {
        display: grid;
        /*colunas*/ 
        grid-template-columns: 1fr 1fr 1fr;
        /*3 colunas 1fr representa uma fraca da tela*/
        gap: 1.75rem;
    }

    .primeira-sessao{
        grid-column: 1 / 3;
        /*quero que a sessao va da linha 1 a 3*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.75rem;

    }

    .primeira-sessao picture {
        grid-column: 1 / 3;
        
    }
    .primeira-sessao img {
        margin: 0;
    }

    .primeira-sessao h1 {
        font-size: 3.5rem;
    }

    .segunda-sessao h2 {
        font-size: 2.5rem;
    }

   
    header > button {
        display: none;
    }

    header .desktop {
        display: flex;
        gap: 2.5rem;
    }

    header .desktop a {
        font-size: .9375rem;
        line-height: 1.625rem;
        text-decoration: none;
        color: var(--gunmetal);

    }
}